.hexagon {
  width: 110px;
  height: 70px;
  font-size: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  background-color: #a40182;
  border: 5px solid #a40182;
  color: white;
  border-top: none;
  border-bottom: none;
}

.hexagon:after {
  content: "";
  width: 60px;
  height: 60px;
  border: 5px solid #a40182;
  background-color: #a40182;
  position: absolute;
  top: -43%;
  left: 20%;
  rotate: -45deg;
  transform: skew(16deg, 16deg);
  border-bottom: none;
  border-left: none;
  z-index: -1;
}

.hexagon:before {
  content: "";
  width: 60px;
  height: 60px;
  border: 5px solid #a40182;
  background-color: #a40182;
  position: absolute;
  bottom: -43%;
  left: 20%;
  rotate: -45deg;
  border-top: none;
  border-right: none;
  transform: skew(16deg, 16deg);
  z-index: -1;
}

.hexagon:hover {
  background-color: transparent;
  color: #a40182;
}

.hexagon:hover:before,
.hexagon:hover:after {
  background-color: transparent;
}

@media (max-width: 768px) {
  .hexagon {
    width: 60px;
    height: 40px;
    font-size: 30px;
  }
  .hexagon:before {
    width: 32px;
    height: 33px;
    bottom: -17px;
  }
  .hexagon:after {
    width: 32px;
    height: 33px;
    top: -17px;
  }
}
@media (max-width: 992px) {
  .hexagon {
    width: 60px;
    height: 40px;
    font-size: 30px;
  }
  .hexagon:before {
    width: 32px;
    height: 33px;
    bottom: -17px;
  }
  .hexagon:after {
    width: 32px;
    height: 33px;
    top: -17px;
  }
}
